.hero-skins {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: scroll;

  img {
    max-width: 22%;
    margin-right: 4%;

    &:last-child{
      margin-right: 0;
    }
  }
}