@import 'reset.scss';
@import 'variables.scss';

body{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-blue;
  color: $txt-primary;
  transition: all ease 1s;
}

@import 'components/base-widget.scss';
@import 'components/search-input.scss';

@import 'pages/hero.scss';
@import 'pages/hero-comparatif.scss';
@import 'pages/home.scss'