@import 'reset.scss';
@import 'variables.scss';

body{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-blue;
  color: $txt-primary;
  margin: 5vw;
}

@import 'components/widget.scss';

@import 'pages/hero.scss';