$bg-blue: #142030;
$bg-darkblue: #101C28;
$bg-black: #09161E;
$txt-primary: #E7E7F2;
$txt-secondary: #ACACC4;
$txt-ternary: #525260;
$accent-color: #FF4D4D;

$fnt-normal: 14px;
$fnt-small: 11px;
$fnt-big: 16px;

$padding-normal: 20px;