$bg-blue: #142030;
$bg-darkblue: #101C28;
$bg-black: #09161E;
$txt-primary: #E7E7F2;
$txt-secondary: #ACACC4;
$txt-ternary: #525260;
$accent-color: #FF4D4D;
$border-color: #2C2C31;

$fnt-small: 10px; // equal 12px on the design
$fnt-normal: 12px; // equal 16px on the design
$fnt-big: 14px; // equal 18px on the design

$padding-normal: 20px; // equal 30px on the design
$padding-half: 10px;