.hero-comparatif {
    min-height: 100vh;
    padding: 50px;

    >div>div{
        width: 33%;
    }

    >div:first-child>div {
        height: max-content;
        margin-bottom: $padding-normal;
    }
}