.hero {
  padding: $page-padding;
  
  .main-left {
    width: 33%;
    padding-right: $padding-half;

    >div:first-child{
      margin-bottom: $padding-normal;
    }
  }

  .main-right {
    width: 66%;
    padding-left: $padding-half;

    .sub-right-bottom{
      margin-top: $padding-normal;

      .center{
        padding-right: $padding-half;

        >div:first-child{
          margin-bottom: $padding-normal;
        }
      }

      >div:not(.center){
        margin-left: $padding-half;
      }

      >div{
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 768px){
    .hero{
        padding: $mobile-page-padding;
    }
}

@import '../components/hero/hero-infos.scss';
@import '../components/hero/hero-skins.scss';
@import '../components/hero/hero-tips.scss';
@import '../components/hero/hero-objects.scss';
@import '../components/hero/hero-spells.scss';
@import '../components/hero/hero-stats.scss';
@import '../components/hero/hero-tile.scss';
